<div class="container">
      <div class="card bg-light mb-3">
        <div class="row">
            <div class="col-md-4">
              <img class="rounded mx-auto d-block" src="<%=data.image%> " alt="Card image cap">
              <div class="card-body">
                <p class="card-title"> Like : <%=data.like%> </p>
                <a href="/post/<%= data.id %>/like"> <button>like</button></a>
                <h5 class="card-title"><%=data.title%> </h5>
                <p class="card-text"><%=data.description%> </p>
                 <ul class="list-group list-group-flush">
                  <li class="list-group-item">post by <%=data.User.username%> <%=timeSince(data.createdAt)%> </li>
                 </ul>
                 <% if (currentUser===data.User.dataValues.id||role==='admin') { %>
                  <div class="card-body">
                      <a href="/post/<%=data.id%>/delete" class="card-link">delete post</a>
                  </div>
                  <% }%>
              </div>
            </div>
            <div class="col-md-8">
              <% if (currentUser) { %>
                <form action="/post/<%=data.id%>/addComment" method="POST">
                  <div class="mb-3">
                    <label for="comment" class="form-label">add new comment</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="content">
                  </div>
                  <% if (error) { %>
                    <p style="color: red;"><%= error %></p>
                  <% } %>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <% }%>
              <ul class="list-group list-group-flush">
                <%comment.forEach(el=>{%> 
                <div class="card-body">
                  <li class="list-group-item"><%=el.content%> <br>
                    <% if(el.User){%> 
                    comment by <%=el.User.dataValues.username%> <%=timeSince(el.createdAt)%>
                    <% if (currentUser===el.User.dataValues.id||role==='admin') { %>
                      <div class="card-body">
                          <a href="/comment/<%=data.id%>/<%=el.id%>/delete" class="card-link">delete</a>
                      </div>
                    <% }%>
                    <% }%> 
                  </li>
                </div>
                <% }) %> 
              </ul>               
            </div>
        </div>
    </div>
    <%})%> 
  </div>