<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./partial/navbar') %>
  <div class="container">
    <%data.forEach(el=>{%> 
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%=el.image%> " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=el.title%> </h5>
          <p class="card-text"><%=el.description%> </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">post by <%=el.User.username%> <%=timeSince(el.createdAt)%> </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">see detail</a>
          <a href="#" class="card-link">delete</a>
        </div>
      </div>
    <%})%> 
</div>
</html> 