<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./partial/navbar') %>
  <div class="container">
    <%data.forEach(el=>{%> 
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%=el.image%> " alt="Card image cap">
        <div class="card-body">
          <p class="card-title"> Like : <%= el.like%> </p>
          <h5 class="card-title"><%=el.title%> </h5>
          <p class="card-text"><%=el.description%> </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">post by <%=el.User.username%> <%=timeSince(el.createdAt)%> </li>
        </ul>
        <div class="card-body">
          <a href="/post/<%=el.id%>" class="card-link">see detail</a>
          <% if (currentUser===el.User.dataValues.id) { %>
            <a href="#" class="card-link">delete</a>
            <% }%>
        </div>
      </div>
    <%})%> 
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
crossorigin="anonymous"></script>
</html> 